<div class="container">
  <h1 class="game-header"><%= Deck.find(session[:deck_id]).name.upcase %> Trivia</h1>
  <a href='/game/show'><button class="game-buttons start-continue-button">Start!</button></a>
</div>
