body {
  margin-top: 100px;
  margin-left: 10px;
}
#fixbar {
  position: fixed;
  top: 0px;
  right: 0px;
  text-align: right;
  width: 100%;
  opacity: .98;
  background: linear-gradient(to right, #2196f3, #f44336);
  color: #FFF;
  padding: 20px;
  display: inline;
  letter-spacing: 3px;
}
#fixbar a {
  color: #fff;
}
.title-bar {
  position: fixed;
  display: inline;
  left: 20px;
}
.container {
  border: 5px;
  margin: auto;
  padding: 50px;
  text-align: center;
}
#profile-tile {
  padding: 1vw;
  margin: 1vw;
  width: 33%;
  height: 130px;
  border: 3px solid #ECEFF1;
  border-radius: 4px;
  float: left;
  position: relative;
}
h1 {
  text-align: center;
}
.scoreboard {
  padding: 1vw;
  margin: 1vw;
  width: 25%;
  height: 70px;
  border: 3px solid #ECEFF1;
  border-radius: 4px;
  float: right;
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
}
.scoreboard span {
  font-weight: bold;
}
#american-flag {
  background-image: url('https://media.tenor.co/images/c31a86bf3ca0599cc146687d0f56a576/tenor.gif');
  color: red;
  font-weight: bold;
  font-size: 17px;
}
.card {
  padding: 1vw;
  margin: 1vw;
  width: 25%;
  height: 70px;
  border: 3px solid #ECEFF1;
  border-radius: 4px;
  float: right;
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
}
.links{
  padding: 1vw;
  margin: 1vw;
  width: 25%;
  height: 70px;
  border: 3px solid #ECEFF1;
  border-radius: 4px;
  float: right;
  position: absolute;
  bottom:0;
  right:0;
  text-align: center;
  vertical-align: right;
  line-height: 24px;}
.table{
  padding: 1vw;
  margin: 1vw;
  width: 25%;
  height: 70px;
  float: right;
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
}
.tg  {
  border-collapse:collapse;
  border-spacing:0;
  border-color:#aabcfe;
}
.tg td{
  font-family:Arial, sans-serif;
  font-size:14px;padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#aabcfe;
  background-image: url('https://media.tenor.co/images/c31a86bf3ca0599cc146687d0f56a576/tenor.gif');
  color: red;
  font-weight: bold;
  font-size: 17px;
}
.tg th{
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#aabcfe;
  background-image: url('https://media.tenor.co/images/c31a86bf3ca0599cc146687d0f56a576/tenor.gif');
  color: red;
  font-weight: bold;
  font-size: 17px;
}
.tg .tg-18qn{
  background-image: url('https://media.tenor.co/images/c31a86bf3ca0599cc146687d0f56a576/tenor.gif');
  color: red;
  font-weight: bold;
  font-size: 17px;
  vertical-align:top}
.tg .tg-87ym{
  background-image: url('https://media.tenor.co/images/c31a86bf3ca0599cc146687d0f56a576/tenor.gif');
  color: red;
  font-weight: bold;
  font-size: 17px;
  vertical-align: top;
}
.tg .tg-ixdi{
  background-image: url('https://media.tenor.co/images/c31a86bf3ca0599cc146687d0f56a576/tenor.gif');
  color: red;
  font-weight: bold;
  font-size: 17px;
  text-align:right;
  vertical-align:top;
}
