<!-- Registration form -->
<form class="user-form" action="/users/new" method="post">
  <label>Username</label>
  <input type="text" name="user[username]">
    <ul class="errors-ul">
    <!-- If username errors have been generated on registration attempt, display them. -->
    <% if @un_messages %>
      <% @un_messages.each do |message| %>
        <div class="errors-li"><li class="errors"><%= "Username #{message}" %></li></div>
      <% end %>
    <% end %>
  </ul>
  <label>Password</label>
  <!-- If password errors have been generated on registration attempt, display them. -->
    <ul class="errors-ul">
      <% if @pw_messages %>
        <% @pw_messages.each do |message| %>
          <div class="errors-li"><li><%= "Password #{message}" %></li></div>
        <% end %>
      <% end %>
    </ul>
  <input type="password" name="user[password]">
  <button type="submit">Register</button>
</form>
