<!-- Display any errors -->
<ul>
<% @messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>
<!-- Login form -->
<form class="user-form" action="/users/login" method="post">
  <label>Username</label>
  <input type="text" name="username">
  <label>Password</label>
  <input type="password" name="password">
  <button type="submit">Log In</button>
</form>
