<p>REGISTER</p>
<form action="/users" method="post">

  <div class="fieldset">
    <label for="name_input">Full Name:</label>
    <input type="text" name="user[name]" placeholder="*Required*">
  </div>

  <div class="fieldset">
    <label for="email_input">Email:</label>
    <input type="text" name="user[email]" placeholder="*Required*">
  </div>

  <div class="fieldset">
    <label for="password_input">Password:</label>
    <input type="text" name="user[password]" placeholder"************">
  </div>

  <input type="submit" value="submit">
</form>
