<h1><%= @user.name.split.first %>'s Profile</h1>

<span class="entry-date block font-3-4 c-lt-gray"><%= "Account created on #{long_form_date(@user.created_at)}." %></span>
<a href="/users/<%= @user.id %>/edit">Change Personal Information</a>
