<h1><%= @user.name.split.first %>'s Profile</h1>

<span class="entry-date block font-3-4 c-lt-gray"><%= "Account created on #{long_form_date(@user.created_at)}." %></span>
<a href="/users/<%= @user.id %>/edit">Change Personal Information</a>

<table class="tg">
  <tr>
    <th class="tg-b2y8" colspan="6">Results</th>
  </tr>
  <tr>
    <td class="tg-18qn">No</td>
    <td class="tg-18qn">Competition</td>
    <td class="tg-18qn">John</td>
    <td class="tg-18qn">Adam</td>
    <td class="tg-18qn">Robert</td>
    <td class="tg-18qn">Paul</td>
  </tr>
  <tr>
    <td class="tg-87ym">1</td>
    <td class="tg-87ym">Swimming</td>
    <td class="tg-sto7">1:30</td>
    <td class="tg-sto7">2:05</td>
    <td class="tg-sto7">1:15</td>
    <td class="tg-sto7">1:41</td>
  </tr>
  <tr>
    <td class="tg-18qn">2</td>
    <td class="tg-18qn">Running</td>
    <td class="tg-ixdi">15:30</td>
    <td class="tg-ixdi">14:10</td>
    <td class="tg-ixdi">15:45</td>
    <td class="tg-ixdi">16:00</td>
  </tr>
  <tr>
    <td class="tg-87ym">3</td>
    <td class="tg-87ym">Shooting</td>
    <td class="tg-sto7">70%</td>
    <td class="tg-sto7">55%</td>
    <td class="tg-sto7">90%</td>
    <td class="tg-sto7">88%</td>
  </tr>
</table>

