<h1>Stats for <%= @user.name.split.first %>!</h1>


<a href="/users/<%= @user.id %>/edit">Change Personal Information</a>
<span class="entry-date block font-3-4 c-lt-gray">Here Are Your Rounds</span>



