<form action="/decks/new/<%= @deck.id %>" method="POST">
<h3>Question</h3>
<input type="text" name="question"></br>
<h3>Answer</h3>
<input type="text" name="answer"></br> </br>
<button type="submit" class="btn btn-default"> <a href="/">I'm done making questions</a></button>
</form>
