<div>
  <h2><%=Deck.find(session[:deck]).name%></h2>
  <h4><%=@card.question%></h4>
  <form action="/decks/<%=session[:deck]%>/play/<%=@card.id%>" method="post">
    Enter your guess here:
    <input type="text" name="answer">
    <input type="submit" name="submit">
  </form>
</div>
