<div class="center-things">
   <h1><%= Deck.find(session[:deck]).name.capitalize %></h1>
   <h3>This deck has <%= Deck.find(session[:deck]).cards.count %> cards</h3>
   <form action="/decks/<%=session[:deck]%>/play/<%=Deck.find(session[:deck]).cards.sample.id %>" method="get"></br>
   <button type="submit" class="btn btn-default">Let's Play</button>
   </form>
</div>
