<div class = container>
   <h1>The <%= Deck.find(session[:deck]).name %> deck </h1>
   <h3>has <%= Deck.find(session[:deck]).cards.count %> cards</h3>
   <form action="/decks/<%=session[:deck]%>/play/<%=Deck.find(session[:deck]).cards.sample.id %>" method="get">
   <input type="submit" value="Let's Play">
   </form>
</div>
