<h1><%= @user.name %>'s Results</h1>

<img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2F736x%2Fe7%2F8b%2F9c%2Fe78b9c0fb24e1fa7063d76bdc9ec53a3.jpg&f=1">

	<div>
	 <p>Congratulations your score for this round was <%= @round.score %>, for deck #<%= @deck.id %>. Maybe you can do better next time, but you'll never beat Chuck! </p> 
	 </div>
