<nav>
  <ul class="nav-links">
    <li class="nav-li"><a href="/">Home</a></li>
    <li class="nav-li"><a href="/users/new">Create Account</a></li>
    <li class="nav-li"><a href="/users/login">Log In</a></li>
  </ul>
</nav>
