<div class="scoreboard">
<span>Player: </span><%= @user.name %>  <br>
<span>Deck: </span><%= @deck.name %> <br>
<span>Score: </span><%=  @round.score %>
<span>Guesses: </span><%=  @round.guess %>
</div>

 