<div>
  <% if !logged_in? %>
    <h2> Sign Up or Log In to play flashcards! </h2>
  <% end %>

  <ul>
    <% @decks.each do |deck| %>
      <li><a href="/decks/<%=deck.id%>/preview"><%= deck.name %></a> </li>
    <% end %>
  </ul>
</div>
